.wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    background: linear-gradient(90deg, rgb(27, 18, 158) 0%, rgba(0,0,255,1) 0%, rgba(0,212,255,1) 100%);
    margin: auto;
    border-radius: 10px;
    transition: width 200ms ease;
}

.wrapper_loading{
    position: absolute;
    top: 10px;
    left: calc(50% - 50px);
    width: 100px;
    z-index: 2;
    font-size: 40px;
}