.card {
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.card, .front, .back {
    width: 100px;
    height: 70px;
}

.card-reverse {
    transform: rotateY(180deg);
}

.flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    transition: background-color 300ms ease-in-out;
    z-index: 2;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.front:hover {
    background: radial-gradient(circle, rgba(235,174,238,1) 0%, rgba(148,233,233,1) 100%);
}

.back {
    transform: rotateY(180deg);
    color: red;
}

@media (max-width: 481px){

    .card, .front, .back {
        width: 70px;
        height: 45px;
    }
}